apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: productscanner-api-hpa
  namespace: productscanner
  labels:
    app.kubernetes.io/name: productscanner-api
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: productscanner-api
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: productscanner-web-hpa
  namespace: productscanner
  labels:
    app.kubernetes.io/name: productscanner-web
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: productscanner-web
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
